body,
html {
    height: 100vh;
    font-family: 'Permanent Marker', cursive;
    background: rgba(25, 114, 120, .5);
    overflow: hidden;
}

#map {
    width: 100vw;
    height: 100vh;
    z-index: 2;
}


/* The hero image */

.hero-image {
    background-image: url("splash.png");
    background-size: cover;
    display: block;
    left: 0;
    right: 0;
    z-index: 1;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    display: block;
    filter: grayscale(90%) brightness(105%) blur(1px);
}

.content {
    background: rgba(25, 114, 120, 1);
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    top: 10px;
    left: 0;
    position: fixed;
    margin-left: 20px;
    margin-right: 20px;
    right: 0;
    z-index: 2;
    padding: 0 10px;
}


/* Place text in the middle of the image */

.hero-text {
    /* text-align: center; */
    font-size: 200%;
    position: fixed;
    top: 25vh;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.loginDiv {
    /* width: 85vw; */
    /* height: 55vw; */
    /* margin-top: 50vh; */
    position: fixed;
    left: 5vw;
    right: 5vw;
    top: 55vh;
    bottom: 10vh;
    background: rgba(25, 114, 120, .9);
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    border-radius: 2vh;
    z-index: 1;
}

.md-raised {
    font-size: 110%;
    color: black;
}

#leaveButton {
    position: fixed;
    left: 30vw;
    right: 30vw;
    bottom: 0vh;
    z-index: 1;
}

#joinButton {
    position: fixed;
    right: 7vw;
    bottom: 13vh;
    z-index: 1;
}