<button id="button" ng-click="mc.addLocation(username, group)">Another user joins group</button>

<button id="button" ng-click="mc.updateLocation(username, group)">Update my pin</button>
<button id="button" ng-click="mc.deletePin()">Delete my pin</button>

<!-- <button ng-click="mc.updateLocation()">Update Location</button> -->
<!-- <button ng-click="mc.drawMap()">redraw map</button> -->
<!-- {{mc.locations.list[0].location}} -->
<ng-map id="map" center="[ 39.810456, -98.555802]">
  <marker ng-repeat="pin in mc.locations.list" position={{pin.location}} title="test1" on-click="mc.showDetails(pin)"></marker>

  <info-window id="infoWindow">
    <div ng-non-bindable=""><br>
     name: {{mc.pInfowindow.username}}<br>
     group: {{mc.pInfowindow.group}}
    </div>
  </info-window>
</ng-map>