<div id='mapPage'>
<ng-map id="map">
  <marker ng-repeat="pin in mc.locations.list" position={{pin.location}} title="test1" on-click="mc.showDetails(pin)"></marker>

  <info-window id="infoWindow">
    <div ng-non-bindable="">
     name: {{mc.pInfowindow.username}}<br>
     <!-- group: {{mc.pInfowindow.group}}<br> -->
     speed: {{mc.pInfowindow.speed | number: 0}} mph<br>
     last updated: {{mc.pInfowindow.minutes}}:{{mc.pInfowindow.seconds}}
    </div>
  </info-window>
</ng-map>
<md-button id="leaveButton" class="md-raised" ng-click="mc.deletePin()">Leave group</md-button>



</div>
